body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
input[type='button'] {
    border: 0px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    background: darkorange;
}